<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>

    <ion-text class="about-page">
        <ion-label>
          About
        </ion-label>
        QuizCards is an easy way to start learning Chinese or study and practice on your own.<br /><br />
        <ion-label>How To Use QuizCards:</ion-label>
      Each QuizCard Set includes <span class="study-color"><img src="assets/icon/study-svg.svg" />Study Cards</span> and <span class="quiz-color"><img src="assets/icon/quiz-svg.svg" />Quiz Cards</span>. First study and learn the Study Cards until you're comfortable with them. Then try the Quiz Cards to see what you've learned.
      <br /><br />
      Repeat until you've mastered the Quiz Cards, then move on to the next set of cards!
      </ion-text>
  </ion-item-divider>
  <ion-item-divider>
    Currently using QuizCards version 1.0.0
  </ion-item-divider>
  <ion-item-divider>
      Check for updates <ion-icon name="arrow-round-forward"></ion-icon>
    </ion-item-divider>
</ion-content>
