<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      QuizCards
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
        
    <ion-item-divider class="quiz-legend">
      <div class="study-color"><img src="assets/icon/study-svg.svg"><span>Study Cards</span></div>
      <div class="quiz-color"><img src="assets/icon/quiz-svg.svg"><span>Quiz Cards</span></div>
      </ion-item-divider>

    <ion-item-group>
    <ion-item-divider>
      <ion-label class="category-header">Study Chinese</ion-label>
    </ion-item-divider>
    <ion-item-divider *ngFor="let q of Quizes" class="quiz-list">
      <div slot="end">
        <div (click)="loadQuiz('study', q.id)" class="study-button"></div>
        <div (click)="loadQuiz('quiz', q.id)" class="quiz-button"></div>        
        <!--
        <img (click)="loadQuiz('study', q.id)" src="assets/images/study-icon.png" class="study-icon">
        <img (click)="loadQuiz('quiz', q.id)" src="assets/images/quiz-icon.png" class="quiz-icon">
        -->
      </div>
      {{ q.quizname }}    
    </ion-item-divider>
  </ion-item-group>
  </ion-list>

</ion-content>
